@import 'scss/App.scss';
@import 'scss/text.scss';
@import 'scss/input.scss';
@import 'scss/mixins.scss';
@import 'scss/Flexbox.scss';
@import 'scss/variables.scss';

@font-face {
	font-family: 'LatoRegular';
	font-weight: 400;
	font-display: swap;
	src: url(http://localhost:8080/fonts/lato-latin-400-normal.woff) format('woff'),
		 url(http://localhost:8080/fonts/lato-latin-400-normal.woff2) format('woff2');
}

@font-face {
	font-family: 'Slabo27px';
	font-weight: normal;
	font-display: swap;
	src: url(http://localhost:8080/fonts/slabo-27px-latin-400-normal.woff) format('woff'),
	     url(http://localhost:8080/fonts/slabo-27px-latin-400-normal.woff2) format('woff2');
}

section,
h1,
h2,
h3,
h4 {
	font-family: 'Slabo27px', sans-serif;
	color: $accent-color-light;
	font-size: $fontsize-1;
	color: $accent-color-secondary;
}

body {
	font-family: 'LatoRegular', sans-serif, sans-serif;
	font-size: $fontsize-1;
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin-top: 10px;
	margin-bottom: $spacing-1;
	line-height: 1.2em;
}

section:not(#landingPage) {
	margin: 0 auto;
	width: 100%;
	min-height: 100dvh;
	background: #1c1c1c;
}

p {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.2em;
}

body {
	line-height: 1.2em;
	margin: 0 auto;
	height: 100%;
}

.flex-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 5px;
	justify-content: space-evenly;
}

@media screen and (max-width:768px) {
	body {
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.flex-box {
		max-width: 80%;
		margin: 0 auto;
	}
}

body.dark-mode .et_pb_background_mask {
	background-image: url(data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iIzFjMWMxYyIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTkyMCwxMDYxLjEyYy0zOS4xNi02LjY0LTEyNC4zOC00OS45MS0yMjktMTAxLjEyLTI4MC4zMS0xMzcuMjEtMzYwLDE2OC45LTczMSwxNjguOUM2NjUsMTEyOC45LDQxOSw4NjMsNDE5LDYxNyw0MTksMTQxLDg2OC42NiwwLDg2OS44OCwwSDBWMTQ0MEgxOTIwWiIvPjwvc3ZnPg==);
}

.et_pb_background_mask {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmNWY1ZjUiIHZpZXdCb3g9IjAgMCAxOTIwIDE0NDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxwYXRoIGQ9Ik0xOTIwLDEwNjEuMTJjLTM5LjE2LTYuNjQtMTI0LjM4LTQ5LjkxLTIyOS0xMDEuMTItMjgwLjMxLTEzNy4yMS0zNjAsMTY4LjktNzMxLDE2OC45QzY2NSwxMTI4LjksNDE5LDg2Myw0MTksNjE3LDQxOSwxNDEsODY4LjY2LDAsODY5Ljg4LDBIMFYxNDQwSDE5MjBaIi8+PC9zdmc+);
	bottom: -33px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	overflow: hidden;
}