@import 'background-mask';
@import 'variables';
@import 'mixins';
@import 'Flexbox';

body {
	// color: $accent-color-secondary;
	padding: 0 0;
	margin: 0 auto;
	background-color: $accent-color-light;
	transition: background-color 0.3s;
	color: $accent-color-secondary;
	box-sizing: border-box;

	#page-container {
		.et-db {
			#et-boc {
				.et-l {
					.et_pb_row_0.et_pb_row {
						max-width: 760px;
					}

					.et_pb_row_2.et_pb_row {
						width: 100%;
						max-width: 100%;
					}
				}
			}
		}

		#page-container {
			#et-boc {
				.et-l {
					.et_pb_row_0.et_pb_row {
						max-width: 760px;
					}

					.et_pb_row_2.et_pb_row {
						width: 100%;
						max-width: 100%;
					}
				}
			}
		}

	}
}

.et_pb_section_0.et_pb_section {
	width: 100%;
	box-sizing: border-box;
	padding-top: 0px;
	padding-bottom: 0px;
}

.et_pb_row_0.et_pb_row {
	padding-top: 2rem !important;
	padding-bottom: 0rem !important;
	margin-top: 0px !important;
	margin-right: auto !important;
	margin-bottom: 0px !important;
	margin-left: auto !important;
	padding-top: 2rem;
	padding-bottom: 0rem;
}

main {
	position: relative;
    padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	justify-content: center;
	align-items: center;

	#flexbox {
		display: flex;
		max-width: 1080px;
		gap: $spacing-2;
		flex: 1;
		margin: 0 auto;
		max-height: 100vh;
		position: relative;
		z-index: 99;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	@media (min-width: 640px) {
		max-width: none;
	}

	#logo {
		text-align: center;
		max-width: 96px;
		text-align: center;
		margin: 0 auto;
		position: relative;
		z-index: 3;

		h1 {
			color: $accent-color-primary;
		}
	}
}

#Chat {
	font-family: 'LatoRegular', sans-serif, sans-serif;
	position: fixed;
	max-width: 320px;
	min-height: 53.5px;
	box-sizing: border-box;
	right: 5px;
	bottom: -$spacing-1;
	border-radius: $spacing-1;
	background: $accent-color-light;
	border: 2px solid $accent-color-dark;
	transition: all .3s;
	z-index: 101;

	.chat {
		margin: 0 auto;
		display: flex;
		padding: $spacing-1;
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;
		height: auto;
		max-height: 94.3vh;
		max-width: 320px;
		overflow-y: auto;
	}

	.scrollable {
		flex: 1 1 auto;
		border-top: 2px solid $accent-color-primary;
		margin: 0 0 0.5em 0;
		overflow-y: auto;
	}

	article {
		margin: 0.5em 0;
	}

	.user {
		text-align: right;
	}

	span {
		padding: 0.5em 1em;
		display: inline-block;
	}

	.eliza span {
		background-color: $accent-color-primary-50;
		border-radius: 1em 1em 1em 0;
	}

	.user span {
		background-color: $accent-color-light;
		color: $accent-color-secondary;
		border: 2px solid $accent-color-primary;
		border-radius: 1em 1em 0 1em;
		word-break: break-all;
	}

}

#Custom-transitions {
	padding: 3rem auto;
	min-height: 300px;
	display: block;
}

.dark-mode-toggle {
	position: fixed;
    top: 22px;
    width: 60px;
    height: $spacing-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
	z-index: 101;

	  .toggleWrapper {
		position: absolute;
		left: -99em;
		top: 50%;
		overflow: hidden;
	  }
	  
	  .toggle {
		top: 0px;
		cursor: pointer;
		display: inline-block;
		position: relative;
		width: 60px;
		height: $spacing-2;
		background-color: $accent-color-primary;
		border-radius: $spacing-2 - 6;
		transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
		
		&:before {
		  content: 'AM';
		  position: absolute;
		  left: -50px;
		  top: $spacing-1;
		  font-size: $fontsize-1;
		}
		
		&:after {
		  content: 'PM';
		  position: absolute;
		  right: -48px;
		  top: $spacing-1;
		  font-size: $fontsize-1;
		  color: $accent-color-secondary;
		}
	  }
	  
	  .toggle__handler {
		display: inline-block;
		position: relative;
		z-index: 1;
		top: 2px;
		left: 1px;
		width: $spacing-2 - 6;
		height: $spacing-2 - 6;
		background-color: $accent-color-light;
		border-radius: 50px;
		box-shadow: 0 2px 3px rgba(0,0,0,.3);
		transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transform:  rotate(-45deg);
		
		.crater {
		  position: absolute;
		  background-color: #E8CDA5;
		  opacity: 0;
		  transition: opacity 200ms ease-in-out;
		  border-radius: 100%;
		}
		
		.crater--1 {
		  top: $fontsize-1;
		  left: 10px;
		  width: 4px;
		  height: 4px;
		}
		
		.crater--2 {
		  top: 28px;
		  left: 22px;
		  width: 6px;
		  height: 6px;
		}
		
		.crater--3 {
		  top: 10px;
		  left: 25px;
		  width: 8px;
		  height: 8px;
		}
	  }
	  
	  .star {
		position: absolute;
		background-color: $accent-color-light;
		transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
		border-radius: 50%;
	  }
	  
	  .star--1 {
		top: 4px;
		left: 35px;
		z-index: 0;
		width: $spacing-2;
		height: 3px;
	  }
	  
	  .star--2 {
		top: 14px;
		left: 28px;
		z-index: 1;
		width: $spacing-2;
		height: 3px;
	  }
	  
	  .star--3 {
		top: 23px;
		left: 40px;
		z-index: 0;
		width: $spacing-2;
		height: 3px;
	  }
		  
	  .star--4,
	  .star--5,
	  .star--6 {
		opacity: 0;
		transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
	  }
	  
	  .star--4 {
		top: $spacing-1;
		left: 11px;
		z-index: 0;
		width: 2px;
		height: 2px;
		transform: translate3d(3px,0,0);
	  }
	  
	  .star--5 {
		top: 32px;
		left: 17px;
		z-index: 0;
		width: 3px;
		height: 3px;
		transform: translate3d(3px,0,0);
	  }
	  
	  .star--6 {
		top: 36px;
		left: 28px;
		z-index: 0;
		width: 2px;
		height: 2px;
		transform: translate3d(3px,0,0);
	  }
	  
	  input:checked {
		+ .toggle {
		  background-color: #333333;
		
		  &:before {
			color: $accent-color-primary;
		  }
	  
		  &:after {
			color: $accent-color-secondary;
		  }
		  
		  .toggle__handler {
			background-color: $accent-color-primary;
			transform: translate3d(32px, 0, 0) rotate(0);
		
			.crater { opacity: 1; }
		  }
		  
		  .star--1 {
			width: 2px;
			height: 2px;
		  }
		  
		  .star--2 {
			width: 4px;
			height: 4px;
			transform: translate3d(-5px, 0, 0);
		  }
		  
		  .star--3 {
			width: 2px;
			height: 2px;
			transform: translate3d(-7px, 0, 0);
		  }
		  
		  .star--4,
		  .star--5,
		  .star--6 {
			opacity: 1;
			transform: translate3d(0,0,0);
		  }
		  .star--4 {
			transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
		  }
		  .star--5 {
			transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
		  }
		  .star--6 {
			transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
		  }
		}
	  }  
}

#box-cta {
	h2 {
		color: $accent-color-secondary;
		text-shadow: 0 0 1px $accent-color-light;
	}
	p {
		color: $accent-color-secondary;
	}
}

.et_pb_contact_field {
    margin-bottom: $spacing-1;
}

body.dark-mode {
	margin: 0 auto;
	background: $accent-color-secondary;
	background-color: $accent-color-secondary;
	color: $accent-color-primary;

	#box-cta {
		h2 {
			color: $accent-color-primary;
		}
		p {
			color: $accent-color-light;
		}
	}

	h1 {
		color: $accent-color-primary;
	}

	input:not(.toggleWrapper) {
		cursor: pointer;
		color: $accent-color-primary;
		border: 2px solid $accent-color-primary;
		background: transparent;

		&:focus,
		&:active {
			color: $accent-color-secondary;
			border: 2px solid $accent-color-light;
			outline: transparent;
			background: $accent-color-primary-50;
		}

		&::placeholder {
			color: $accent-color-light;
		}
	}

	input:checked {
		+ .toggle {
		  background-color: #333333;
		
		  &:before {
			color: $accent-color-primary;
		  }
	  
		  &:after {
			color: $accent-color-light;
		  }
		}
	}

	button {
		cursor: pointer;
		color: $accent-color-secondary;
		border: 2px solid $accent-color-primary;
		background: $accent-color-primary;
		border-radius: $spacing-1;
		padding: 0.5rem .6rem;
		transition: all .7s;

		&:focus,
		&:active {
			color: $accent-color-light;
			border: 2px solid $accent-color-primary;
			outline: transparent;
			background: $accent-color-primary-50;
		}
	}
	.et_pb_contact_field {
		margin-bottom: $spacing-1;
	}

	.et_pb_contact_field_3 {
		label.Field {
			background: rgba(0,0,0,0.15);
			color: $accent-color-light;
			text-align: left;
		}
	}
	#Chat {
		background: $accent-color-secondary;

		.user span {
			background-color: transparent;
			color: $accent-color-primary;
		}

		.close-button {
			color: #f5f5f5;

			#icon-close {
				filter: invert(1);
			}
		}
	}

	svg {

		#bubble {
			transform-origin: 50% 100%;
			text-align: center;
			transform: scale(1);
			animation-fill-mode: backwards;
		}

		#tool {
			transform-origin: 50% 100%;
			text-align: center;
			transform: scale(1);
			transition: all .7s;
			fill: $accent-color-secondary!important;
			animation-fill-mode: backwards;
		}
	}
	.et_pb_background_mask {
		background-image: url(data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iIzFjMWMxYyIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTkyMCwxMDYxLjEyYy0zOS4xNi02LjY0LTEyNC4zOC00OS45MS0yMjktMTAxLjEyLTI4MC4zMS0xMzcuMjEtMzYwLDE2OC45LTczMSwxNjguOUM2NjUsMTEyOC45LDQxOSw4NjMsNDE5LDYxNyw0MTksMTQxLDg2OC42NiwwLDg2OS44OCwwSDBWMTQ0MEgxOTIwWiIvPjwvc3ZnPg==);
		filter: invert(0);
	}
	.et_parallax_bg {
		opacity: .22;
	}

	.color-light,
	.flex-box span {
		color: $accent-color-light;
		text-align: center;
	}

	.Animated-background {
		span {
			opacity: .2;
			filter: invert(1);
		}
	}
}

@media screen and (max-width:768px) {
	main {
		padding: 0 0;
	}
	.Animated-background {
		height: 100%;
		max-height: 100%;
	}
	.et_pb_contact_field_3 {
		label.Field {
			text-align: center;
		}
	}
	main {
		#flexbox {
			gap: 0;
			max-width: unset;
			width: 100%;
			max-height: inherit;
			min-height: 100dvh;
			flex-direction: column;
			align-items: center;
		}
	}
	
	#Chat {
		max-width: 341px;
		right: 5px;
	}

}