@import 'variables';
@import 'mixins';
@import 'Flexbox';

body {
	// color: $accent-color-secondary;
	padding: 0 0;
	margin: 0 auto;
	background-color: $accent-color-light;
	transition: background-color 0.3s;
	color: $accent-color-secondary;
	box-sizing: border-box;

	#page-container {
		.et-db {
			#et-boc {
				.et-l {
					.et_pb_row_0.et_pb_row {
						max-width: 760px;
					}

					.et_pb_row_2.et_pb_row {
						width: 100%;
						max-width: 100%;
					}
				}
			}
		}

		#page-container {
			#et-boc {
				.et-l {
					.et_pb_row_0.et_pb_row {
						max-width: 760px;
					}

					.et_pb_row_2.et_pb_row {
						width: 100%;
						max-width: 100%;
					}
				}
			}
		}

	}
}

.et_pb_section_0.et_pb_section {
	width: 100%;
	box-sizing: border-box;
	padding-top: 0px;
	padding-bottom: 0px;
}

.et_pb_row_0.et_pb_row {
	padding-top: 2rem !important;
	padding-bottom: 0rem !important;
	margin-top: 0px !important;
	margin-right: auto !important;
	margin-bottom: 0px !important;
	margin-left: auto !important;
	padding-top: 2rem;
	padding-bottom: 0rem;
}

main {
	position: relative;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	justify-content: center;
	align-items: center;

	.flexbox {
		z-index: 99;
	}

	@media (min-width: 640px) {
		max-width: none;
	}

	#logo {
		text-align: center;
		max-width: 96px;
		text-align: center;
		margin: 0 auto;
		position: relative;
		z-index: 3;

		h1 {
			color: $accent-color-primary;
		}
	}
}

.overlay {
	position: fixed;
	z-index: 103;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.33);
	background: rgba(0, 0, 0, 0.33);
	border-radius: 0;
}

.Box {
	.col-lg-3 {
		text-align: center;
		padding: 0 1px;

		.icon {
			background: $accent-color-primary;
			padding: $spacing-1;
			width: 60px;
			height: 60px;
			border-radius: $spacing-1;
			text-align: center;
			margin: 0 auto;

			img {
				width: 100%;
				filter: brightness(0);
			}
		}
	}

	&.Roadmap {
		transform: translateX(0);

		&:after {
			content: "";
			background: #5dff31;
			position: absolute;
			width: 80%;
			top: 0;
			left: 0;
			right: 0;
			height: 2px;
			margin: 2.77rem auto;
			z-index: -1;
			animation: scaling 2.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		}
		@keyframes scaling {
			from {
				transform: scale(0);
			}
			to {
				transform: scale(1);
			}
			
		}
	}
}

.box {
	&.cta {

		h2 {
			color: $accent-color-secondary;
			text-shadow: 0 0 1px $accent-color-light;
		}
	
		p {
			color: $accent-color-secondary;
		}
	}
	&.row {
		h2 {
			text-shadow: 0 0 1px $accent-color-light;
		}
	
		p {
			color: $accent-color-secondary;
		}
	}
}

dialog#menu-dialog {
	border-radius: $spacing-1;
	border: 2px solid $accent-color-dialog;
	padding: 0 $spacing-1;
	z-index: 999;
	position: fixed;
	left: $spacing-2;
	right: $spacing-2;
	bottom: 5.5rem;
	width: 310px;

	header {
		border-bottom: 2px solid $accent-color-primary;

		h4 {
			color: $accent-color-secondary;
		}

		.close-button {
			max-height: 22px;
			padding: 0;
			margin-top: 5px;
			border: none;
			background: transparent;
			cursor: pointer;
		}
	}

	.et_pb_button {
		&:hover {
			background: transparent!important;
		}
	}

	div[id] {
		font-family: 'LatoRegular', sans-serif, sans-serif;
		color: $accent-color-secondary;
		display: flex;
		transition: all .3s;
		margin: 0 auto;
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;
		max-height: calc(100vh - 46px - 57.4px - 27px - 30px);
		padding-bottom: $spacing-1;
		z-index: 104;

		.scrollable {
			flex: 1 1 auto;
			margin: 0 0;
			overflow-y: auto;
		}

		article {
			margin: 0.5em 0;
		}

		.user {
			text-align: right;
		}

		article > span {
			padding: 0.5em 1em;
			display: inline-block;
		}

		.eliza span {
			background-color: $accent-color-primary-50;
			border-radius: 1em 1em 1em 0;
		}

		.user span {
			background-color: $accent-color-light;
			color: $accent-color-secondary;
			border: 2px solid $accent-color-primary;
			border-radius: 1em 1em 0 1em;
			word-break: break-all;
		}

	}
}

#fixed-menu {
	overflow: hidden;

	a.fixed-menu-icon {
		color: $accent-color-secondary;
		filter: brightness(0);

		&.active {
			background: rgba(0,0,0,0.15);

			img {
				filter: hue-rotate(-360deg) brightness(100%) contrast(0%);
			}
		}

		@keyframes fly-in {
			from {
				transform: scale(0) translateY(8px);
			}

			to {
				transform: scale(1) translateY(0px);
			}
		}
	}
}

.icon-hamburger {
	position: fixed;
	cursor: pointer;
	text-align: center;
	background: $accent-color-light;
	border: unset;
	outline: unset;

	svg {
		margin-left: -2px;
		fill: $accent-color-secondary;
		text-align: center;
	}

	&.opened {
		border-radius: 15px;

		#icon-close {
			transform: scale(0.8);
		}
	}
}

.dark-mode-toggle {
	position: fixed;
	top: 22px;
	width: 60px;
	height: $spacing-2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	z-index: 103;

	.toggleWrapper {
		position: absolute;
		left: -99em;
		top: 50%;
		overflow: hidden;
	}

	.toggle {
		top: 0px;
		cursor: pointer;
		display: inline-block;
		position: relative;
		width: 60px;
		height: $spacing-2;
		background-color: $accent-color-primary;
		border-radius: $spacing-2 - 6;
		transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

		&:before {
			content: 'light';
			position: absolute;
			left: -50px;
			top: $spacing-1;
			font-size: $fontsize-1;
		}

		&:after {
			content: 'dark';
			position: absolute;
			right: -48px;
			top: $spacing-1;
			font-size: $fontsize-1;
			color: $accent-color-primary
		}
	}

	.toggle__handler {
		display: inline-block;
		position: relative;
		z-index: 1;
		top: 3px;
		left: 3px;
		width: $spacing-2 - 6;
		height: $spacing-2 - 6;
		background-color: $accent-color-light;
		border-radius: 50px;
		box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
		transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transform: rotate(-45deg);

		.crater {
			position: absolute;
			background-color: #E8CDA5;
			opacity: 0;
			transition: opacity 200ms ease-in-out;
			border-radius: 100%;
		}

		.crater--1 {
			top: $fontsize-1;
			left: 10px;
			width: 4px;
			height: 4px;
		}

		.crater--2 {
			top: 28px;
			left: 22px;
			width: 6px;
			height: 6px;
		}

		.crater--3 {
			top: 10px;
			left: 25px;
			width: 8px;
			height: 8px;
		}
	}

	.star {
		position: absolute;
		background-color: $accent-color-light;
		transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
		border-radius: 50%;
	}

	.star--1 {
		top: 4px;
		left: 35px;
		z-index: 0;
		width: $spacing-2;
		height: 3px;
	}

	.star--2 {
		top: 14px;
		left: 28px;
		z-index: 1;
		width: $spacing-2;
		height: 3px;
	}

	.star--3 {
		top: 23px;
		left: 40px;
		z-index: 0;
		width: $spacing-2;
		height: 3px;
	}

	.star--4,
	.star--5,
	.star--6 {
		opacity: 0;
		transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}

	.star--4 {
		top: $spacing-1;
		left: 11px;
		z-index: 0;
		width: 2px;
		height: 2px;
		transform: translate3d(3px, 0, 0);
	}

	.star--5 {
		top: 32px;
		left: 17px;
		z-index: 0;
		width: 3px;
		height: 3px;
		transform: translate3d(3px, 0, 0);
	}

	.star--6 {
		top: 36px;
		left: 28px;
		z-index: 0;
		width: 2px;
		height: 2px;
		transform: translate3d(3px, 0, 0);
	}

	input:checked {
		+.toggle {
			background-color: #333333;

			&:before {
				color: $accent-color-primary;
			}

			&:after {
				color: $accent-color-secondary;
			}

			.toggle__handler {
				background-color: $accent-color-primary;
				transform: translate3d(32px, 0, 0) rotate(0);
				top: 2px;
    			left: 1px;

				.crater {
					opacity: 1;
				}
			}

			.star--1 {
				width: 2px;
				height: 2px;
			}

			.star--2 {
				width: 4px;
				height: 4px;
				transform: translate3d(-5px, 0, 0);
			}

			.star--3 {
				width: 2px;
				height: 2px;
				transform: translate3d(-7px, 0, 0);
			}

			.star--4,
			.star--5,
			.star--6 {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}

			.star--4 {
				transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
			}

			.star--5 {
				transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
			}

			.star--6 {
				transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
			}
		}
	}


}

.et_pb_contact_field {
	margin-bottom: $spacing-1;
}

input#optin[type="checkbox"]:before {
	content: "";
	position: absolute;
	width: 24px;
	height: $fontsize-2;
	top: 2px;
	left: 2px;
	transform: scale(0);
	transform-origin: bottom left;
	transition: 50ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	background-color: $accent-color-secondary;
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

body.dark-mode {
	margin: 0 auto;
	background: $accent-color-mask;
	background-color: $accent-color-mask;
	color: $accent-color-primary;

	.box-cta,
	.box-row,
	.Box {
		h2 {
			color: $accent-color-primary;

		}
		p {
			color: $accent-color-light;
		}
	}

	h1,
	h2 {
		color: $accent-color-primary;
	}

	input:not(.toggleWrapper) {
		cursor: pointer;
		color: $accent-color-primary;
		border: 2px solid $accent-color-primary;
		background: transparent;

		&:focus,
		&:active {
			color: $accent-color-secondary;
			border: 2px solid $accent-color-light;
			outline: transparent;
			background: $accent-color-primary-50;
		}

		&::placeholder {
			color: $accent-color-light;
		}
	}

	.et_pb_button {
		&:hover {
			background: transparent!important;
			color: $accent-color-primary;
		}
	}

	input:checked {
		+.toggle {
			background-color: #333333;

			&:before {
				color: $accent-color-primary;
			}

			&:after {
				color: $accent-color-light;
			}
		}
	}

	button:not(.close-button, .icon-hamburger, .overlay) {
		cursor: pointer;
		font-family: "Slabo27px", sans-serif;
		font-size: 22px;
		color: $accent-color-secondary;
		border: 2px solid $accent-color-primary;
		background: $accent-color-primary;
		border-radius: $spacing-1;
		transition: all .7s;
		margin: 0 auto;

		&:focus,
		&:active {
			color: $accent-color-light;
			border: 2px solid $accent-color-primary;
			outline: transparent;
			background: $accent-color-primary-50;
		}
	}

	dialog#menu-dialog {
		background: $accent-color-secondary;
		border-radius: $spacing-1;
		border: 2px solid $accent-color-dialog;
		z-index: 103;
		position: fixed;
		left: 30px;
		right: 30px;
		border-radius: 15px;
		width: 310px;
		overflow-y: scroll;
		overflow-x: hidden;

		div[id] {
			color: $accent-color-light;
		}

		header {
			border-bottom: 2px solid $accent-color-primary;
			h4 {
				color: $accent-color-primary;
			}
		}
	}

	.et_pb_contact_field {
		margin-bottom: $spacing-1;
	}

	@media screen and (max-width: 768xpx) {
		dialog#menu-dialog {
			bottom: 60px;
		}
		.et_pb_contact_field {
			margin-bottom: $spacing-1;
		}
		.et_pb_contact_field_0 {
			label.Field {
				max-width: 90%;
			}
		}
	}

	#fixed-menu {
		background: $accent-color-secondary;

		a.fixed-menu-icon {
			filter: brightness(1);
			margin: 0;
			color: $accent-color-light;
		}

		a.fixed-menu-icon.active {

			img {
				filter: hue-rotate(-360deg) brightness(100%) contrast(0%);
			}
		}
	}

	#optional {
		width: 100%;
		margin: calc($spacing-3 * 2) auto;

		p {
			color: $accent-color-light;
		}
	}

	.overlay {
		position: fixed;
		z-index: 101;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		border: 0;
		outline: 0;
		background-color: rgba(0, 0, 0, 0.66);
		background: rgba(0, 0, 0, 0.66);
		border-radius: 0;
	}

	.et_pb_contact_field_0 {
		label.Field {
			background: rgba(0, 0, 0, 0.15);
			color: $accent-color-light;
			text-align: left;
		}
	}

	#Chat {
		background: $accent-color-secondary;

		.user span {
			background-color: transparent;
			color: $accent-color-primary;
		}
	}

	.close-button {
		margin-top: 5px;
		color: #f5f5f5;

		#icon-close {
			filter: invert(1);
		}
	}

	svg {

		#bubble {
			transform-origin: 50% 100%;
			text-align: center;
			transform: scale(1);
			animation-fill-mode: backwards;
		}

		#tool {
			transform-origin: 50% 100%;
			text-align: center;
			transform: scale(1);
			transition: all .7s;
			fill: $accent-color-secondary !important;
			animation-fill-mode: backwards;
		}
	}

	.color-light,
	.flex-box span {
		color: $accent-color-light;
		text-align: center;
	}

	.Animated-background {
		span {
			opacity: .2;
			filter: invert(1);
		}
	}

	input#optin[type="checkbox"]:before {
		background-color: $accent-color-primary;
	}

	.icon-hamburger {
		z-index: 333;
		position: fixed;
		cursor: pointer;
		margin: 1px auto 0 auto;
		background: $accent-color-secondary;

		svg {
			fill: $accent-color-primary;
		}
	}

	.icon-hamburger.opened {
		border: 2px solid $accent-color-dialog;
		transform: translateY(-39px) rotate(90deg) scale(0.6);
		background: rgb(0,0,0);
		background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 100%);	
	}
}

@media screen and (max-width:768px) {
	main {
		padding: 0 0;
	}

	.Animated-background {
		height: 100%;
		max-height: 100%;
	}

	.et_pb_contact_field_0 {
		label.Field {
			text-align: center;
			max-width: 80%;
		}
	}

	main {
		.flexbox {
			gap: 0;
			margin: $spacing-1 auto;
			max-width: unset;
			width: 100%;
			max-height: inherit;
			min-height: 100dvh;
			flex-direction: column;
			align-items: center;
			padding: $spacing-2 0;
		}
	}

	dialog#menu-dialog {
		z-index: 104;

		#Chat {
			max-width: 306px;

			.chat {
				max-height: 76.3vh;
			}
		}
	}

	.et_pb_contact_field {
		margin-bottom: $spacing-1;
	}

}