@import 'variables';
@import 'text';

a {
    color: $accent-color-primary;
    text-decoration: none;

    &:visited {
        color: $accent-color-visited;
    }

    &:hover,
    &:focus-visible,
    &:focus {
        background: transparent;
        border-color: $accent-color-primary;
    }
}

button:not(.dark-mode-toggle, .close-button, .icon-hamburger, .et_pb_contact_submit, .overlay),
select,
textarea {
    padding: 10px 2rem;
    box-sizing: border-box;
    transition: all .7s;
    border: 2px solid $accent-color-primary;
    border-radius: $spacing-1;

    &:disabled {
        color: $accent-color-input-deactive;
    }
}

.et_pb_button {
    color: $accent-color-secondary;
    border: 2px solid $accent-color-primary;
    line-height: 50px;
    font-weight: 700;
    background: $accent-color-primary;
    border-radius: $spacing-1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Slabo27px';
    font-size: 18px;
    margin: 0 auto 15px auto;
    transition: all .3s;
    cursor: pointer;

    &:visited,
    &:active {
        color: $accent-color-dialog;
    }
    
    &:hover {
        background: transparent;
    }
}

label:not([for="optin"]) {
    display: none;
}

input {
    font-family: 'LatoRegular', sans-serif, sans-serif;
    font-size: $fontsize-1;
    line-height: 1.3em;
    border-radius: $spacing-1;
    transition: all .7s;
    padding-top: $spacing-1;
    padding-right: $spacing-1;
    padding-bottom: $spacing-1;
    padding-left: $spacing-1;
    border-color: $accent-color-primary;
    border-style: solid;

    &[type="text"],
    &[type="checkbox"] {
        font-family: 'LatoRegular', sans-serif, sans-serif;
        font-size: $fontsize-1;
        color: $accent-color-secondary;
        background-color: $accent-color-light;
        outline: none !important;

        &:disabled {
            color: $accent-color-input-deactive;
        }

        &:not(:disabled):active {
            background-color: $accent-color-primary;
        }

        &:focus {
            border-color: $accent-color-secondary;
        }
    }
}

input#optin {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: $accent-color-primary;
    width: 30px;
    height: 30px;
    border: 2px solid $accent-color-primary;
    border-radius: 15px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    border-radius: 15px;
}

input#optin[type="checkbox"]:checked:before {
    transform: scale(0.9);
}

.et_pb_contact_field_0 {
    input {
        border: 2px solid #5dff31 !important;
        padding: 8px !important;
        flex: 1;
    }
    label.Field {
        background: rgba(255,255,255,0.9);
        border-radius: $spacing-1;
        padding: 10px;
        color: $accent-color-secondary;
        flex: 4;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    input#optin[type="checkbox"] {
        transform: scale(1.3);
    }

    .et_pb_contact_field_0 {
        label.Field {
            text-align: center;
        }
    }
}